# Specific files to ignore
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
configure
autom4te.cache
check_tests/check_eas
check_tests/eas-daemon_test.log
check_tests/eas-daemon_test.xml
.deps
.libs
libtool
stamp-h1
eas-daemon/src/activesyncd
eas-daemon/tests/activesyncd-test-001
libeasmail/tests/libeasmail_test
TODO.tasks
TODO.list

# Folders to ignore
config/*
m4/*
.anjuta/*
eas-daemon/config/*
eas-daemon/m4/*
libeasmail/config/*
libeasmail/m4/*

# File paterns to ignore
*.m4
*.o
*.lo
*.la
*stub.h
*.anjuta*
*.*~
*.orig
*.bak


